.promo-steps {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  @media #{$M_MD} {
    padding: 0 15px;
  }
  @media #{$M_SMX} {
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    height: auto;
    width: 270px;
    position: relative;
    &:first-of-type {
      width: 278px;
    }
    &:nth-of-type(2) {
      width: 273px;
    }
    &:nth-of-type(3) {
      width: 234px;
    }
    &:nth-of-type(4) {
      width: 229px;
    }
    @media #{$M_MD} {
      width: 22% !important;
    }
    @media #{$M_SMX} {
      width: 40% !important;
      min-width: 280px;
      padding-right: 5%;
      margin-bottom: 30px;
    }
    @media #{$M_X2S} {
      width: 100%;
      max-width: 360px;
      padding-right: 0;
    }
    & .item__pic {
      position: relative;
      height: 136px;
      width: 136px;
      background-color: $gray-F8;
      @include border-radius(100%);
      @media #{$M_X2S} {
        margin-left: 40px;
      }
      &:before {
        content:'';
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
      }
      &.icon-1 {
        &:before {
          top: 0;
          left: 20px;
          width: 162px;
          background-image: url(../images/social-icon.png);
          @include image-2x('../images/social-icon_@2.png', 100%, 100%);
        }
      }
      &.icon-2 {
        &:before {
          top: 11px;
          left: 14px;
          width: 126px;
          background-image: url(../images/list-icon.png);
          @include image-2x('../images/list-icon_@2.png', 100%, 100%);
        }
      }
      &.icon-3 {
        &:before {
          top: 9px;
          background-image: url(../images/rocket-icon.png);
          @include image-2x('../images/rocket-icon_@2.png', 100%, 100%);
        }
      }
      &.icon-4 {
        &:before {
          top: 15px;
          left: 10px;
          width: 116px;
          background-image: url(../images/gift-icon.png);
          @include image-2x('../images/gift-icon_@2.png', 100%, 100%);
          background-position: 50% 100%;
        }
      }
    }
    & .step-number {
      position: absolute;
      top: 0;
      left: 0;
      height: 34px;
      width: 34px;
      line-height: 34px;
      vertical-align: middle;
      text-align: center;
      font-size: 16px;
      background-color: $red-BF;
      @include border-radius(100%);
      color: $white;
      z-index: 5;
      @media #{$M_X2S} {
        left: 40px;
      }
    }
    & .item__title {
      margin-top: 12px;
      line-height: 24px;
      font-family: $font-futuraround;
      font-size: 22px;
      color: $black;
    }
    & .item__text {
      margin-top: 14px;
      line-height: 22px;
      font-size: 16px;
      color: $black;
    }
  }
}