+b.promo-steps#rules
  +e.item
    +b.step-number 1
    +b.item__pic.icon-1
    +b.item__title Пройдите #[br] регистрацию
    +b.item__text
      p Зарегистрируйтесь на сайте с помощью e-mail или используя профиль одной из социальных сетей
  +e.item
    +b.step-number 2
    +b.item__pic.icon-2
    +b.item__title Ответьте #[br] на вопросы анкеты
    +b.item__text
      p Составьте вопросы, с помощью которых будете проверять свою вторую половину
  +e.item
    +b.step-number 3
    +b.item__pic.icon-3
    +b.item__title Поделитесь своей анкетой
    +b.item__text
      p Отправьте ссылку с тестом любимому человеку 
  +e.item
    +b.step-number 4
    +b.item__pic.icon-4
    +b.item__title Получите подарок от ПЕТРУХИ
    +b.item__text
      p После прохождения теста, получите уведомление с результатом и вашим гарантированным подарком


