.page-top {
  position: relative;
  height: 680px;
  width: 100%;
  background-image: url(../images/page-top__bg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: 1;
  @media #{$M_X3S} {
    height: 670px;
  }
  &__bg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    &:before,
    &:after {
      content:'';
      display: block;
      position: absolute;
      bottom: -20px;
      height: 100%;
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
    }
    &:before {
      width: calc(50% - 252px);
      max-height: 521px;
      left: 0;
      background-image: url(../images/page-top__bg-left.png);
      @include image-2x('../images/page-top__bg-left_@2.png', contain, contain);
      background-position: 100% 0;
      -webkit-background-size: 488px 500px;
      background-size: 488px 500px;
      z-index: 1;
      @media #{$M_MD} {
        background-position: -160px 0;
        width: 50%;
      }
      @media #{$M_XS} {
        width: 100%;
        background-position: -300px 100%;
      }
      @media #{$M_X2S} {
        height: 420px;
        width: 100%;
        left: 0;
        background-position: -250px 100%;
        -webkit-background-size: contain;
        background-size: contain;
      }
      @media #{$M_X3S} {
        height: 360px;
        width: 40%;
        left: 0;
        -webkit-background-size: auto 100%;
        background-size: auto 100%;
        background-position: 100% 100%;
      }
    }
    &:after {
      height: 628px;
      width: 713px;
      right: -246px;
      bottom: 0;
      background-image: url(../images/page-top__bg-right.png);
      @include image-2x('../images/page-top__bg-right_@2.png', contain, contain);
      background-position: 0 100%;
      -webkit-background-size: 713px 628px;
      background-size: 713px 628px;
      z-index: 2;
      @media #{$M_XLG} {
        right: -320px;
        bottom: 20px;
      }
      @media #{$M_XS} {
        width: 100%;
        height: 100%;
        right: -250px;
        bottom: 0;
        -webkit-background-size: 570px 500px;
        background-size: 570px 500px;
        background-position: 100% 100%;
      }
      @media #{$M_X2S} {
        height: 420px;
        width: 478px;
        right: -210px;
        -webkit-background-size: contain;
        background-size: contain;
      }
      @media #{$M_X3S} {
        height: 360px;
        width: 60%;
        right: 0;
        -webkit-background-size: auto 100%;
        background-size: auto 100%;
        background-position: 0 100%;
      }
    }
  }
  &__body {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 420px;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 71px;
    margin: 0 auto;
    z-index: 5;
    & .page-top__btn {
      height: 64px;
      margin-top: 40px;
      padding: 0 85px;
      line-height: 64px;
      font-size: 24px;
      color: $white;
      &:hover {
        text-decoration: none;
      }
      @media #{$M_XS} {
        padding: 0 20px;
        width: 270px;
      }
      @media #{$M_X3S} {
        margin-top: 15px;
      }
    }
  }
  &__social {
    width: 100%;
    position: absolute;
    height: 100%;
  }
  &__item {
    position: absolute;
    background-position: 0 0;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    overflow: hidden;
    & a {
      display: block;
      height: 100%;
      width: 100%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      -webkit-background-size: 2em;
      background-size: 2em;
    }
    &.fb {
      top: -30px;
      left: -123px;
      width: 130px;
      height: 130px;
      background-image: url(../images/promo-social/like-facebook.png);
      &:hover {background-image: url(../images/promo-social/like-facebook-hover.png);}
      & a {
        background-image: svg-load('../images/promo-social/promo-icon-fb.svg', fill = $white);
        background-position: 57px 50%;
        -webkit-background-size: 35px;
        background-size: 35px;
      }
      @media #{$M_MD} {
        top: auto;
        bottom: -20px;
        left: 18px;
      }
      @media #{$M_X3S} {
        height: 110px;
        width: 110px;
        left: 4px;
        & a {
          background-position: 46px 50%;
          -webkit-background-size: 30px;
          background-size: 30px;
        }
      }
    }
    &.vk {
      top: 0;
      right: -82px;
      width: 90px;
      height: 83px;
      background-image: url(../images/promo-social/like-vk.png);
      &:hover {background-image: url(../images/promo-social/like-vk-hover.png);}
      & a {
        background-image: svg-load('../images/promo-social/promo-icon-vk.svg', fill = $white);
        background-position: 22px 50%;
        -webkit-background-size: 39px;
        background-size: 41px;
        transform: rotate(-20deg);
      }
      @media #{$M_MD} {
        top: auto;
        right: auto;
        left: 178px;
        bottom: -24px;
      }
      @media #{$M_X3S} {
        left: 120px;
        width: 75px;
        height: 70px;
        bottom: -14px;
        & a {
          -webkit-background-size: 35px;
          background-size: 35px;
        }
      }
    }
    &.ok {
      top: -46px;
      right: -193px;
      width: 110px;
      height: 107px;
      background-image: url(../images/promo-social/like-ok.png);
      &:hover {background-image: url(../images/promo-social/like-ok-hover.png);}
      & a {
        background-image: svg-load('../images/promo-social/promo-icon-ok.svg', fill = $white);
        background-position: 34px 25px;
        -webkit-background-size: 30px;
        background-size: 30px;
        transform: rotate(21deg);
      }
      @media #{$M_MD} {
        top: auto;
        right: 15px;
        bottom: -10px;
      }
      @media #{$M_X3S} {
        height: 97px;
        width: 100px;
        right: 0;
        bottom: -16px;
        & a {
          background-position: 36px 28px;
          -webkit-background-size: 25px;
          background-size: 25px;
        }
      }
    }
  }
  &__intro-text {
    position: relative;
    max-width: 360px;
    width: 100%;
    height: auto;
    line-height: 1.4em;
    font-size: 20px;
    text-align: center;
    font-family: $font-roboto-light;
    color: $white;
    z-index: 2;
    @media #{$M_XS} {
      padding: 0 17px;
    }
  }
  &__promo-title {
    height: 207px;
    width: 100%;
    margin-top: 44px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../images/promo-title__icon.svg);
    -webkit-background-size: contain;
    background-size: contain;
    font-family: $font-besom;
    text-transform: uppercase;
    text-align: center;
    font-size: 78px;
    color: $white;
    text-shadow: 5px 3px 0px rgba(0, 0, 0, 0.3);
    & strong {
      font-size: 134px;
    }
    & small {
      font-size: 42px;
      color: $black;
      text-shadow: none;
    }
    @media #{$M_XS} {
      margin: 20px 10px 0;
    }
  }
  &__link-rules {
    position: relative;
    width: 100%;
    margin-top: 26px;
    font-size: 14px;
    font-family: $font-roboto-light;
    text-align: center;
    color: $white;
    z-index: 2;
    & a {
      text-decoration: none;
      font-family: inherit;
      font-size: inherit;
      border-bottom: 1px dashed;
      color: inherit;
      &:hover {
        border-bottom: none;
      }
      &:active {
        opacity: 0.85;
      }
    }
  }
}