+b.page-top__body
  +e.social
    +e.item.fb
      a(href="#")
    +e.item.vk
      a(href="#")
    +e.item.ok
      a(href="#")
  +e.intro-text #[span Сергей Иванов] прислал вам ссылку, чтобы понять, насколько вы хорошо знаете друг друга
  +e.promo-title
  +e('a')(href="#").btn.btn-content Пройти тест
  +e.link-rules
    a(href="#rules") Правила участия