+b.send-section
  +e.top
    +b.title Открытки от Петрухи
    +b.text
      p Выберите открытку, которую мы отправим Вашей второй половинке. Заполняйте контактную форму ниже и уже скоро веселая карточка окажется в вашем почтовом ящике.

  +e.card-preview
    +e.preview-item.male
      +b.inner
    +e.preview-item.fem
      +b.inner

  +e.card-form
    +b.title Выбранная вами открытка:
    +b(style="background-image: url(./assets/images/card-pic-male.png);").card-min
    +b.title Ваш почтовый адрес:
    +b('form').card-form-inner
      +b.input-row
        +b('label').input-label.col5
          p Имя
          input(type="text" placeholder="Введите ваше имя")
        +b('label').input-label.col5
          p Фамилия
          input(type="text" placeholder="Введите вашу фамилию")

      +b.input-row
        +b('label').input-label.col4
          p Почтовый индекс
          input(type="text" placeholder="Введите номер")
        +b('label').input-label.col6
          p Город
          select
            option(disabled selected hidden) Выберите город
            option Минск
            option Витебск
            option Гродно
            option Брест
            option Гомель
            option Могилев

      +b.input-row
        +b('label').input-label.col5
          p Улица
          input(type="text" placeholder="Введите название улицы")
        +b('label').input-label.col1
          p Дом
          input(type="text" placeholder="Номер")
        +b('label').input-label.col1
          p Корпус
          input(type="text" placeholder="Номер")
        +b('label').input-label.col1
          p Квартира
          input(type="text" placeholder="Номер")

      +b.btn-row
        +b('button')(type="submit").btn-content Отправить