/*Colors*/
$white: #FFF;
$black: #000;
$black-1C: #1c2025;
$black-20: #202021;
$black-2A: #2a2a2a;
$blue-EA: #eafaf9;
$blue-3B: #3b5998;
$blue-4C: #4c75a3;
$gray-AF: #afafaf;
$gray-CC: #ccc;
$gray-D2: #d2d2d3;
$gray-EB: #ebebeb;
$gray-EC: #ececec;
$gray-E2: #e2e2e2;
$gray-E5: #e5e5e5;
$gray-FC: #fcfcfc;
$gray-F7: #f7f7f7;
$gray-F8: #f8f8f8;
$gray-2A: #2a2a2a;
$gray-31: #313439;
$gray-59: #595959;
$gray-80: #808080;
$green-2F: #2fcec2;
$green-23: #23b4a1;
$green-25: #25b8a6;
$green-28: #28bfae;
$green-29: #29c1b1;
$green-30: #30d0c4;
$green-3A: #3ad1c6;
$orange-EE: #ee8208;
$red-BF: #bf0502;
$red-B4: #b42831;
$red-B5: #b52831;
$red-B8: #b8222b;
$red-CB: #cb2d37;
$red-CF: #cf303a;
$red-D22: #d22c12;
$red-D2: #d2333d;
$red-D4: #d4454e;
$red-D5: #d5575f;
$red-D6: #d6343e;
$red-F2: #f2767e;
$red-F6: #f6d4d6;
$red-6E: #6e141a;

/*Links*/
$link: $black;
$link-hover: $black;

/*Typography*/
$font-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-roboto-light: 'Roboto-Light', $font-base;
$font-roboto-regular: 'Roboto-Regular', $font-base;
$font-roboto-bold: 'Roboto-Bold', $font-base;

$font-futuraround: 'aFutura-Round', $font-base;
$font-besom: 'Besom', $font-base;

$font-size-root: 10px;
$font-size: 1.5rem;

$text: $black;

$light: 300;
$normal: 400;
$semibold: 600;
$bold: 700;

/*Paths*/
$font-img-path: '../images';

/*Media-queries*/
$M_X4S: 'screen and (max-width: 319px)'; // (srv)
$M_X3S: 'screen and (max-width: 479px)'; // (srv)
$M_X2S: 'screen and (max-width: 639px)'; // (srv)
$M_XS: 'screen and (max-width: 767px)'; // phones
$M_XSM: 'screen and (max-width: 869px)';
$M_SM: 'screen and (max-width: 991px)'; // tablets
$M_SMX: 'screen and (max-width: 1023px)';
$M_SM2X: 'screen and (max-width: 1099px)';
$M_SM3X: 'screen and (max-width: 1149px)';
$M_MD: 'screen and (max-width: 1199px)'; // medium desktop
$M_LG: 'screen and (min-width: 1200px)'; // large desktop
$M_XLG: 'screen and (max-width: 1399px)'; // extra-large desktop