body {
  min-width: 320px;
}
.inner__wr {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.btn-content {
  position: relative;
  height: 50px;
  line-height: 50px;
  font-family: $font-futuraround;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  background-color: $green-23;
  border-radius: 40px;
  color: $white;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.30);
  -moz-box-shadow:    0px 3px 21px 0px rgba(0, 0, 0, 0.30);
  box-shadow:         0px 3px 21px 0px rgba(0, 0, 0, 0.30);
  &:hover {
    box-shadow: none;
  }
  &:active {
    @include transform-translateY(1px);
  }
  @media #{$M_X3S} {
    font-size: 15px;
  }
}
.home-wr {
  position: relative;
  display: flex;
  height: auto;
  width: 100%;
  position: relative;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-image: url(../images/lines__bg.png);
  margin-bottom: -120px;
  padding-bottom: 120px;
  margin-top: -142px;
  padding-top: 142px;
  z-index: 2;
  @media #{$M_SMX} {
    background-image: url(../images/lines__bg-white.png);
  }
}
.page-body {
  min-height: calc(100vh - 190px);
  position: relative;
  height: auto;
  width: 100%;
  padding-bottom: 120px;
  z-index: 2;
  &.web-page {
    padding-bottom: 0;
    background-color: $gray-FC;
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-image: url(../images/web-section__bg.png);
    -webkit-background-size: contain;
    background-size: contain;
    @media #{$M_SMX} {
      & .page-content {
        padding: 0;
      }
      & .web-section__inner {
        padding: 82px 10px;
      }
    }
    @media #{$M_XSM} {
      min-height: calc(100vh - 348px);
    }
    &:after {
      display: none;
    }
  }
  &.inner-pages {
    background-image: url(../images/inner-pages__bg.png);
    @include image-2x('../images/inner-pages__bg_@2.png', cover, cover);
    background-position: 0 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    &:before {
      position: absolute;
      display: block;
      background-repeat: no-repeat;
      z-index: 1;
    }
  }
  &__inner-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    &:before,
    &:after {
      content:'';
      display: block;
      position: absolute;
      height: 100%;
      width: 50%;
      background-repeat: no-repeat;
      @media #{$M_SMX} {
        display: none;
      }
    }
    &:before {
      left: 0;
      bottom: 0;
      background-position: -9px 100%;
      background-image: url(../images/page-inner__bg-left.png);
      -webkit-background-size: 56.5%;
      background-size: 56.5%;
      @media #{$M_XLG} {
        background-size: 40%;
      }
      @media #{$M_SM3X} {
        background-size: 32%;
      }
    }
    &:after {
      right: -12px;
      top: 120px;
      background-position: 100% 0;
      background-image: url(../images/page-inner__bg-right.png);
      -webkit-background-size: 55%;
      background-size: 55%;
      @media #{$M_XLG} {
        background-size: 40%;
      }
      @media #{$M_MD} {
        background-size: 35%;
      }
      @media #{$M_SM3X} {
        background-size: 30%;
      }
    }
  }
  &:after {
    content:'';
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 145px;
    width: 100%;
    background-image: url(../images/footer__bg.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    z-index: 10;
  }
}
.page-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 2;
  @media #{$M_SMX} {
    padding: 0 10px;
  }
}
