+b.telegram-section
  +e.top
    +b.text
      +b.title Набор стикеров Telegram от Петрухи
      p Добавляйте наши стикеры в Telegram и делитесь своим настроением с родными и друзьями, как это делают наши Коко и Пити.
    +b.btn.btn-content Добавить в telegram
  +e.content
    +b.sticker-list
      +e.item.sticker-1
      +e.item.sticker-2
      +e.item.sticker-3
      +e.item.sticker-4
      +e.item.sticker-5
      +e.item.sticker-6
      +e.item.sticker-7
      +e.item.sticker-8
      +e.item.sticker-9
  +e.bottom
    p Этот набор также доступен по ссылке #[a(href="#https://telegram.me/addstickers/vk_simple_petruha") https://telegram.me/addstickers/vk_simple_petruha]