.popups__wr {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(27,169,155,0.95);
  z-index: 10;
  &.active {
    display: block;
  }
}

.popup {
  display: none;
  margin-top: 76px;
  &.active {
    display: block;
  }
  & p {
    line-height: 20px;
  }
  @media #{$M_X3S} {
    margin: 76px 10px;
  }
}
.popup-default {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: auto;
  max-width: 360px;
  padding: 25px 20px 50px;
  font-size: 16px;
  line-height: 18px;
  background-color: $white;
  @include border-radius(15px);
  & p {
    max-width: 265px;
    text-align: center;
  }
}
.popup__body {
  @media #{$M_X3S} {
    left: 10px;
    right: 10px;
  }
}
.step-container {
  display: none;
  justify-content: center;
  flex-wrap: wrap;
  &.active {
    display: flex;
  }
}
.popup__title {
  min-height: 50px;
  text-align: center;
  font-family: $font-besom;
  font-size: 60px;
  text-shadow: 5px 3px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  color: $white;
}
.popup__title-inner {
  position: relative;
  margin-bottom: 7px;
  line-height: 25px;
  font-family: $font-futuraround;
  text-transform: uppercase;
  font-size: 25px;
  color: $green-25;
  &.icon {
    margin-bottom: 37px;
    padding-left: 78px;
    @media #{$M_X3S} {
      padding-left: 50px;
    }
    & .icon-bl {
      display: block;
      position: absolute;
      top: -6px;
      left: 8px;
      height: 55px;
      width: 55px;
      -webkit-background-size: 17px;
      background-size: 17px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      @include border-radius(100%);
      overflow: hidden;
      @media #{$M_X3S} {
        height: 40px;
        width: 40px;
        left: 0;
        top: 2px;
        -webkit-background-size: 0.5em;
        background-size: 0.5em;
      }
    }
    &.icon-ok {
      & .icon-bl {
        background-image: svg-load('../images/social/social-ok-icon.svg', fill = $white);
        background-color: $orange-EE;
      }
    }
    &.icon-fb {
      & .icon-bl {
        background-image: svg-load('../images/social/social-fb-icon.svg', fill = $white);
        background-color: $blue-3B;
      }
    }
    &.icon-vk {
      & .icon-bl {
        background-image: svg-load('../images/social/social-vk-icon.svg', fill = $white);
        background-color: $blue-4C;
        -webkit-background-size: 1em;
        background-size: 1em;
      }
    }
  }
}
.popup__closer {
  position: absolute;
  top: -18px;
  right: -18px;
  height: 36px;
  width: 36px;
  background-color: $red-D6;
  @include border-radius(100%);
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    0px 6px 18px 0px rgba(0, 0, 0, 0.3);
  box-shadow:         0px 6px 18px 0px rgba(0, 0, 0, 0.3);
  @media #{$M_X3S} {
    top: -5px;
    right: -5px;
  }
  & span {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 3px;
    width: 15px;
    margin: auto;
    background-color: $white;
    @include transform-rotate(45deg);
    @include border-radius(10px);
    &:first-of-type {
      @include transform-rotate(-45deg);  
    }
  }
}
.popup__social {
  display: flex;
  justify-content: center;
  margin-top: 27px;
  & .social__item {
    height: 55px;
    width: 55px;
    margin: 0 10px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: $green-29;
    @include border-radius(100%);
    cursor: pointer;
    &:hover {
      opacity: 0.85;
    }
    &.facebook {background-image: svg-load('../images/social/social-fb-icon.svg', fill = $white);}
    &.vk {background-image: svg-load('../images/social/social-vk-icon.svg', fill = $white);}
    &.ok {background-image: svg-load('../images/social/social-ok-icon.svg', fill = $white);}
  }
}
.registration__popup {
  & .popup__title {
    background-image: url(../images/icon__popup-register.svg);
    
  }
  & .rules-link {
    display: inline-block;
    font-family: $font-roboto-light;
    margin-top: 45px;
    font-size: 14px;
    text-decoration: underline;
    color: $green-28;
    &:active {
      opacity: 0.8;
    }
    &:hover {
      text-decoration: none;
    }
  }
  & .form {
    width: 100%;
    margin-top: 28px;
    &.margin-sm {
      margin-top: 15px;
    }
    & .form-item {
      width: 100%;
      margin-top: 14px;
    }
    & .input-label {
      display: inline-block;
      height: 52px;
      line-height: 50px;
      vertical-align: middle;
      border: 1px solid $gray-D2;
      @include border-radius(50px);
      overflow: hidden;
      & input {
        height: 100%;
        width: 100%;
        padding: 0 35px;
        line-height: inherit;
        font-size: 18px;
        font-family: $font-roboto-light;
        color: $black-20;
        outline: none;
        border: none;
      }
    }
  }
}