+b.registration__popup.popup.active
  +b.popup__title
  +b.popup__body.popup-default
    +b.popup__closer
      span
      span
    +b.step-container#registration-step-1.active
      p Войдите, используя свой аккаунт одной из социальных сетей
      +b.popup__social
        +b.social__item.facebook.trigger-step-2
        +b.social__item.vk.trigger-step-2
        +b.social__item.ok.trigger-step-2
      +b('a')(href="#").rules-link Правила участия
    +b.step-container#registration-step-2
      +b.popup__title-inner Подтверждение
      p Подтвердите корректность адреса вашей электронной почты
      form(action="").form
        +b('label').input-label.form-item
          input(type="email" required)
        +b('button')(type="submit").form-item.btn-submit.btn-content.trigger-step-3 Подтвердить
    +b.step-container#registration-step-3
      +b.popup__title-inner.icon.icon-ok Вы успешно авторизовались
        +b.icon-bl
      p Осталось подтвердить адрес вашей электронной почты
      form(action="").form.margin-sm
        +b('label').input-label.form-item
          input(type="email" required placeholder="Ваш e-mail:")
        +b('button')(type="submit").form-item.btn-submit.btn-content Далее