
/*Roboto*/
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/roboto/Roboto-Light.eot');
    src: url('../fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-Light.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-Light.svg#ProximaNova') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/roboto/Roboto-Bold.eot');
    src: url('../fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-Bold.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-Bold.svg#ProximaNova') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/roboto/Roboto-Regular.eot');
    src: url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-Regular.svg#ProximaNova') format('svg');
    font-weight: bold;
    font-style: normal;
}

/*a_FuturaRoundDemi*/

@font-face {
    font-family: 'aFutura-Round';
    src: url('../fonts/afuturarounddemi/afuturarounddemi.eot');
    src: url('../fonts/afuturarounddemi/afuturarounddemi.eot?#iefix') format('embedded-opentype'),
         url('../fonts/afuturarounddemi/afuturarounddemi.ttf') format('truetype'),
         url('../fonts/afuturarounddemi/afuturarounddemi.svg#ProximaNova') format('svg');
    font-weight: bold;
    font-style: normal;
}

/*Besom*/

@font-face {
    font-family: 'Besom';
    src: url('../fonts/besom/besom.eot');
    src: url('../fonts/besom/besom.eot?#iefix') format('embedded-opentype'),
         url('../fonts/besom/besom.ttf') format('truetype'),
         url('../fonts/besom/besom.svg#ProximaNova') format('svg');
    font-weight: bold;
    font-style: normal;
}