+b('header').header
  +e.inner.inner__wr
    +e.left
      +e('a')(href="#").logo
    +e.right
      +b.mobile-nav-trigger
        +b.inner
          span
          span
          span
      +e('nav').nav
        +e('ul').list
          +e('li').item
            a(href="#") Тест
          +e('li').item
            a(href="#") Открытки
          +e('li').item
            a(href="#") Рецепты
          +e('li').item
            a(href="#") Подарки
          +e('li').item.active
            a(href="#") Стикерпак telegram
        //- +e('a')(href="#").test-btn Пройти тест