.header {
  position: relative;
  min-height: 60px;
  width: 100%;
  background-color: $white;
  z-index: 20;
  &.shadow {
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.03);
    -moz-box-shadow:    0px 3px 7px 0px rgba(0, 0, 0, 0.03);
    box-shadow:         0px 3px 7px 0px rgba(0, 0, 0, 0.03);
  }
  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    @media #{$M_MD} {
      padding: 0 15px;
    }
    @media #{$M_XS} {
      justify-content: flex-start;
    }
  }
  &__left,
  &__right {
    display: flex;
    position: relative;
  }
  &__left {
    @media #{$M_XS} {
      width: 100%;
      padding: 0 40px;
    }
  }
  &__right {
    justify-content: flex-end;
    @media #{$M_XS} {
      justify-content: flex-start;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }
  &__logo {
    display: block;
    position: absolute;
    height: 90px;
    width: 168px;
    left: 0;
    top: 16px;
    background-image: url(../images/header__logo.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    z-index: 2;
    @media #{$M_XS} {
      right: 0;
      margin: 0 auto;
    }
  }
  &__nav {
    display: flex;
    margin-top: 11px;
    &.active {
      display: flex;
      flex-flow: row wrap;
    }
    @media #{$M_XS} {
      display: none;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 49px;
      padding: 35px 20px;
      background-color: $white;
    }
  }
  &__list {
    display: flex;
    margin-top: 12px;
    @media #{$M_XS} {
      width: 100%;
      flex-wrap: wrap;
      margin-top: 0;
    }
    & .header__item {
      position: relative;
      margin-right: 36px;
      font-size: 15px;
      font-family: $font-futuraround;
      text-transform: uppercase;
      color: $black;
      letter-spacing: 0.04em;
      &:last-of-type {
        margin-right: 0;
      }
      @media #{$M_XS} {
        width: 100%;
        padding: 8px 0;
      }
      &.active {
        color: $red-D2;
      }
      &.home-link {
        & a {
          padding-left: 21px;
          &:before {
            content:'';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 7px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-image: svg-load('../images/icon__arrow.svg', fill = $white);
          }
        }
      }
      &:active {
        opacity: 0.8;
      }
      & a {
        position: relative;
        font-size: inherit;
        font-family: inherit;
        color: inherit;
      }
    }
  }
  &__test-btn {
    display: inline-block;
    height: 36px;
    padding: 0 37px;
    margin-left: 20px;
    line-height: 36px;
    font-family: $font-futuraround;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $red-CF;
    @include border-radius(40px);
    letter-spacing: 0.04em;
    color: $white;
    & a {
      position: relative;
      font-size: inherit;
      font-family: inherit;
      color: inherit;
    }
    &:hover {
      text-decoration: none;  
      opacity: 0.85;
      color: $white;
    }
    &:active {
      @include transform-translateY(1px);
    }
    @media #{$M_XS} {
      margin-left: 0;
      margin-top: 20px;
    }
  }
}
.mobile-nav-trigger {
  display: none;
  position: relative;
  height: 18px;
  width: 28px;
  margin-left: 10px;
  margin-top: 20px;
  z-index: 3;
  cursor: pointer;
  @media #{$M_XS} {
    display: block;
  }
  &.active {
    & .inner {
      height: 14px;
      width: 23px;
    }
    & span {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      transition: 0.2s;
      &:first-of-type {
        @include transform-rotate(-45deg);
      }
      &:nth-of-type(2n) { display: none;}
      &:last-of-type {
        @include transform-rotate(45deg);
      }
    }
  }
  & .inner {
    position: absolute;
    height: 18px;
    width: 28px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    cursor: pointer;
    & span {
      position: absolute;
      display: inline-block;
      height: 3px;
      width: 100%;
      left: 0;
      right: 0;
      background-color: $black-20;
      border-radius: 3px;
      &:first-of-type { top: 0;}
      &:nth-of-type(2n) { top: 8px;}
      &:last-of-type { bottom: 0;}
    }
  }
}