.video-section {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 220px;
  padding-bottom: 28.331%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../images/video-bg.png);
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    & .video-section__inner {
      &:before {
        opacity: 0.95;
      }
    }
  }
  @media #{$M_XS} {
    padding-bottom: 36.331%;
  }

  &__inner {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    z-index: 2;
    &:before {
      content:'';
      display: block;
      position: absolute;
      @include absolute(0,0,0,0);
      height: 100px;
      width: 100px;
      margin: auto;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-image: url(../images/play-btn.png);
      z-index: 2;
      -webkit-background-size: contain;
      background-size: contain;
    }
    @media #{$M_MD} {
      padding: 0 20px;
      max-width: 1023px;
      font-size: 45px;
      &:before {
        height: 60px;
        width: 60px;
      }
    }
    & .title {
      width: 100%;
      max-width: 458px;
      line-height: 1em;
      font-family: $font-futuraround;
      font-size: 56px;
      text-align: left;
      color: $white;
      @media #{$M_MD} {
        font-size: 45px;
      }
      @media #{$M_SMX} {
        max-width: 45%;
        font-size: 32px;
      }
      @media #{$M_X2S} {
        font-size: 22px;
      }
      @media #{$M_X3S} {
        display: none;
      }
    }
  }
}