+b('a')(href="#promovideo").video-section.afterglow
  +e('div').inner
    +b('h1').title История любви Пити и Коко
+b('video')(width="1920" height="1080").video-bl#promovideo
  +b('source')(type="video/mp4" src="assets/content/Petruha.mp4")
