+b.footer
  +e.inner.inner__wr
    +e('a')(href="#").logo
    +e.legal
      +b.copyright © 2004–2018 ТМ «Петруха»
      +b.description Торговые марки, отмеченные знаком ®, являются зарегистрированными торговыми марками или знаками обслуживания Петруха или ее дочерних компаний в Европейском Союзе.
    +e.social
      +b('ul').list
        +e.item.facebook
          a(href="#")
        +e.item.vk
          a(href="#")
        +e.item.ok
          a(href="#")
        +e.item.insta
          a(href="#")
    +e.phones
      +b.phones-title Телефон горячей линии
      +b.item +375 24 960 01 00
      +b.descr Звонок бесплатный