.footer {
  position: relative;
  height: auto;
  width: 100%;
  background-color: $gray-EB;
  @media #{$M_MD} {
    padding: 0 15px;
  }
  &__inner {
    display: flex;
    padding: 32px 0 36px;
    @media #{$M_XSM} {
      flex-flow: column wrap;
      align-items: center;
    }
  }
  &__logo {
    display: block;
    height: 60px;
    width: 121px;
    min-width: 121px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../images/footer__logo.png);
    background-size: contain;
    @include image-2x('../images/footer__logo_@2.png', contain, contain);
  }
  &__legal {
    margin-top: 3px;
    margin-left: 32px;
    max-width: 505px;
    @media #{$M_XSM} {
      display: none;
    }
    & .copyright {
      line-height: 16px;
      font-size: 12px;
      text-transform: uppercase;
      color: $gray-59;
    }
    & .description {
      margin-top: 9px;
      font-family: $font-roboto-light;
      font-size: 11px;
      line-height: 15px;
      color: $gray-59;
    }
  }
  &__social {
    margin-left: 5px;
    @media #{$M_XSM} {
      margin-left: 0;
      margin-top: 17px;
      order: 3;
    }
    & .list {
      display: flex;
      &__item {
        display: block;
        height: 60px;
        width: 72px;
        border-right: 1px solid $red-D22;
        & a {
          display: block;
          height: 100%;
          width: 100%;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          &:hover {
            opacity: 0.8;
          }
        }
        &:last-of-type {
          border-right-color: transparent;
        }
        &.facebook a {
          background-image: svg-load('../images/social/social-fb-icon.svg', fill = $red-D22);
        }
        &.vk a {
          background-image: svg-load('../images/social/social-vk-icon.svg', fill = $red-D22);
        }
        &.ok a {
          background-image: svg-load('../images/social/social-ok-icon.svg', fill = $red-D22);
        }
        &.insta a {
          background-image: svg-load('../images/social/social-insta-icon.svg', fill = $red-D22);
        }
      }
    }
  }
  &__phones {
    min-width: 158px;
    margin-left: auto;
    color: $gray-59;
    @media #{$M_XSM} {
      margin-top: 22px;
      margin-right: auto;
      text-align: center;
      order: 2;
    }
    & .phones-title {
      line-height: 14px;
      text-transform: uppercase;
      font-family: $font-roboto-bold;
      font-size: 12px;
    }
    & .item {
      font-size: 18px;
      font-family: $font-roboto-bold;
      margin-top: 13px;
      color: $red-D22;
    }
    & .descr {
      margin-top: 5px;
      font-family: $font-roboto-light;
      font-size: 12px;
    }
  }
}