+b.sections-preview
  +e(style="background-image: url(./assets/images/section-preview__bg-1.png);").item
    +b.inner
      +b('h2').title узнай, какая вы пара!
      +b.btn.btn-content Пройти тест
  +e(style="background-image: url(./assets/images/section-preview__bg-2.png);").item
    +b.inner
      +b('h2').title поздравь свою вторую половинку
      +b.btn.btn-content Отправить открытку