.sections-preview {
  display: flex;
  width: 100%;
  @media #{$M_XS} {
    flex-flow: column wrap;
    justify-content: center;
  }
  &__item {
    display: table;
    position: relative;
    padding-bottom: 29.825%;
    width: 48.685%;
    margin-right: 2.6326%;
    background-position: 0 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 7px;
    overflow: hidden;
    &:nth-of-type(2n) {
      margin-right: 0;
      @media #{$M_XS} {
        margin: 0 auto 20px;
      }
    }
    & .inner {
      position: absolute;
      top: 35px;
      bottom: 42px;
      left: 7.93%;
      right: 7.93%;
      & .title {
        max-width: 220px;
        line-height: 1.2em;
        text-transform: uppercase;
        font-family: $font-futuraround;
        font-size: 28px;
        color: $white;
        @media #{$M_X3S} {
          font-size: 22px;
        }
      }
      & .btn {
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 44px;
        line-height: 46px;
        padding: 0 20px;
      }
      @media #{$M_SMX} {
        top: 25px;
        bottom: 35px;
      }
    }
    @media #{$M_XS} {
      margin: 0 auto 20px;
      max-width: 368px;
      width: 100%;
      height: 225px;
      padding-bottom: 0;
    }
    @media #{$M_X3S} {
      height: 200px;
    }
  }
}