+b.quiz-section
  +e.title Вопросы для вашей второй половинки
  +e.body
    +b.counter
      | Вопрос
      +b.counter__data
        +b('span').current 1
        +b('span').divider /
        +b('span').all 12
    +b('form').question-wr.form
      +b(style="display: none;").question-bl
        +e.title Какой жанр кино вы предпочитаете
        +e.body
          +e('label')(for="radio-item-1").item
            input(type="radio" id="radio-item-1" name="radio-gr-1")
            +b('span').input-text Комедия
            +b.bg
            i
          +e('label')(for="radio-item-2").item
            input(type="radio" id="radio-item-2" name="radio-gr-1")
            +b('span').input-text Детектив
            +b.bg
            i
          +e('label')(for="radio-item-3").item
            input(type="radio" id="radio-item-3" name="radio-gr-1")
            +b('span').input-text Ужасы
            +b.bg
            i
          +e('label')(for="radio-item-4").item
            input(type="radio" id="radio-item-4" name="radio-gr-1")
            +b('span').input-text Фильмы, основанные на реальных событиях
            +b.bg
            i
          +e('label')(for="radio-item-5").item
            input(type="radio" id="radio-item-5" name="radio-gr-1")
            +b('span').input-text Где есть хоть одна стоящая драка
            +b.bg
            i
          +e('label')(for="radio-item-6").item
            input(type="radio" id="radio-item-6" name="radio-gr-1")
            +b('span').input-text Главное, чтобы там снимался Ди Каприо
            +b.bg
            i
        +e.footer
          +e('button').btn.btn-content.icon Следующий вопрос

      +b.question-bl
        +e.title Ваш любимый сериал?
        +e.body
          +e('label')(for="radio-item-11").item
            input(type="radio" id="radio-item-11" name="radio-gr-2")
            +b('span').input-text Игра престолов
            +b.bg
            i
          +e('label')(for="radio-item-7").item
            input(type="radio" id="radio-item-7" name="radio-gr-2")
            +b('span').input-text Шерлок
            +b.bg
            i
          +e('label')(for="radio-item-8").item
            input(type="radio" id="radio-item-8" name="radio-gr-2")
            +b('span').input-text Ужасы
            +b.bg
            i
          +e('label')(for="radio-item-9").item
            input(type="radio" id="radio-item-9" name="radio-gr-2")
            +b('span').input-text Глухарь
            +b.bg
            i
          +e('label')(for="radio-item-10").item
            input(type="radio" id="radio-item-10" name="radio-gr-2")
            +b('span').input-text Физрук
            +b.bg
            i
        +e.footer
          +b('a')(href="#").prev-btn Назад
          +e('button').btn.btn-content.icon Следующий вопрос

      +b(style="display: none;").question-bl
        +e.title Лучшее блюдо для вашего романтического ужина?
        +e.body
          +e('label')(for="radio-item-11").item
            input(type="radio" id="radio-item-11" name="radio-gr-2")
            +b('span').input-text Пицца
            +b.bg
            i
          +e('label')(for="radio-item-7").item
            input(type="radio" id="radio-item-7" name="radio-gr-2")
            +b('span').input-text Суши
            +b.bg
            i
          +e('label')(for="radio-item-8").item
            input(type="radio" id="radio-item-8" name="radio-gr-2")
            +b('span').input-text Салат
            +b.bg
            i
          +e('label')(for="radio-item-9").item
            input(type="radio" id="radio-item-9" name="radio-gr-2")
            +b('span').input-text Паста
            +b.bg
            i
          +e('label')(for="radio-item-10").item
            input(type="radio" id="radio-item-10" name="radio-gr-2")
            +b('span').input-text Сладкое
            +b.bg
            i
        +e.footer
          +b('a')(href="#").prev-btn Назад
          +e('button').btn.btn-content.icon Следующий вопрос

      +b(style="display: none;").question-bl
        +e.title.left-align Поздравляем! Вы ответили на все вопросы.
        +b('p').plain-text #[span Артем], Вы успешно прошли тест.
        +b('p').plain-text Отправьте эту ссылку своей половинке и узнайте, насколько вы друг друга знаете.
        +b.share-link  https://promo.petruha.ru/polovinka/456
          +e('button').btn Скопировать
        +e.title.left-align Вы также можете получить бесплатный приз!
        +b('p').plain-text Введите свой #[a(href="#") почтовый адрес] и мы его вам отправим.
        +e.footer
          +b('a')(href="./index.html").prev-btn На главную страницу
