+b.quiz-section
  +e.title Поздравляем! Тест пройден.
  +e.body
    +b('form').question-wr.form
      +b.question-bl
        +e.body
          +b.quiz-result
            +e.top
              +b.question-bl__title Вы одинаково ответили на #[span 7] вопросов из #[span 10]
              p Мы отправили результаты на ваши электронные адреса.
              p Вы также можете получить бесплатный приз. Введите свой #[a(href="#") почтовый адрес] и мы его вам отправим.
            +e.pic.card-1
            +e.preview
              +e.preview-item
                +b.title Какой сериал любит Артем?
                +b.text «Игры Престолов» , а «Физрук». Мы рекомендуем вам поесть курочки и посмотреть сериал.
              +e.preview-item
                +b.title Какое блюдо с картошкой любит Артем?
                +b.text Не котлеты, а селедку . Мы рекомендуем вам поесть курочки "Петруха"
              +e.preview-item
                +b.title Какое самое лучшее место на Земле, как считает Артем?
                +b.text Вы думаете, что Египет, а Артем думает, что Италия . Мы рекомендуем вам поехать посмотреть что-нибудь еще. И не забудьте нашу курочку в дорогу.

            +e.share
              +b.title Поделитесь своими результатами
              +b.btn-row
                +e.item.btn-content.fb Поделиться
                +e.item.btn-content.vk Поделиться
                +e.item.btn-content.ok Поделиться

        +e.footer
          +b('a')(href="./index.html").prev-btn На главную страницу
