+b.quiz-section
  +e.title Ваш почтовый адрес
  +e.body
    +b('form').question-wr.form
      +b.question-bl
        +e.body
          +b.input-row
            +b('label').input-label.col5
              p Имя
              input(type="text" placeholder="Введите ваше имя")
            +b('label').input-label.col5
              p Фамилия
              input(type="text" placeholder="Введите вашу фамилию")

          +b.input-row
            +b('label').input-label.col4
              p Почтовый индекс
              input(type="text" placeholder="Введите номер")
            +b('label').input-label.col6
              p Город
              select
                option(disabled selected hidden) Выберите город
                option Минск
                option Витебск
                option Гродно
                option Брест
                option Гомель
                option Могилев

          +b.input-row
            +b('label').input-label.col5
              p Улица
              input(type="text" placeholder="Введите название улицы")
            +b('label').input-label.col1
              p Дом
              input(type="text" placeholder="Номер")
            +b('label').input-label.col1
              p Корпус
              input(type="text" placeholder="Номер")
            +b('label').input-label.col1
              p Квартира
              input(type="text" placeholder="Номер")

        +e.footer
          +b('a')(href="./index.html").prev-btn На главную страницу
          +e('button').btn.btn-content.R-align Отправить
