.quiz-section {
  position: relative;
  height: auto;
  min-height: 705px;
  width: 100%;
  max-width: 810px;
  margin: 66px auto 0;
  background-color: $white;
  font-family: $font-roboto-light;
  @include border-radius(5px);
  overflow: hidden;
  @media #{$M_XSM} {
    min-height: 620px;
  }
  &__title {
    height: auto;
    min-height: 76px;
    width: 100%;
    padding: 23px 67px 23px 67px;
    line-height: 28px;
    text-transform: uppercase;
    font-size: 28px;
    text-align: left;
    font-family: $font-futuraround;
    background-color: $green-2F;
    color: $white;
    @media #{$M_XS} {
      width: 100%;
      min-height: 60px;
      padding: 19px 20px;
      font-size: 22px;
      line-height: 24px;
    }
  }
  &__body {
    padding: 32px 70px 165px;
    background-color: $white;
    font-size: 16px;
    color: $gray-80;
    @media #{$M_XSM} {
      padding: 32px 20px 165px;
    }
    & .counter {
      display: flex;
      justify-content: center;
      margin-bottom: 42px;
      font-size: 18px;
      color: $green-25;
      & .counter__data {
        display: flex;
        justify-content: center;
        margin-left: 10px;
      }
    }
  }
}
.question-wr {
  & .question-bl {
    margin-top: 18px;
    font-size: 18px;
    &__title {
      margin-bottom: 20px;
      font-family: $font-futuraround;
      text-align: left;
      font-size: 26px;
      color: $black;
    }
    &__body {
    }
    &__item {
      display: flex;
      align-items: center;
      position: relative;
      min-height: 52px;
      width: 100%;
      padding: 5px 0 5px 37px;
      line-height: 20px;
      vertical-align: middle;
      cursor: pointer;
      border-top: 1px solid $gray-EC;
      &:last-of-type {
        border-bottom: 1px solid $gray-EC;
      }
      &:hover {
        border-color: transparent;
        & .bg {
          background-color: $blue-EA;
        }
        & + .question-bl__item {
          border-color: transparent;
        }
      }
      & .input-text {
        position: relative;
        font-size: 16px;
        color: $black;
        z-index: 2;
      }
      & .bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -20px;
        right: -20px;
        height: 100%;
        z-index: 1;
      }
      & i {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto 0;
        z-index: 2;
        &:before {
          content:'';
          display: block;
          height: 20px;
          width: 20px;
          border: 1px solid $gray-EB;
          @include border-radius(100%);
        }
        &:after {
          content:'';
          display: none;
          height: 18px;
          width: 25px;
          background-image: svg-load('../images/icon__checked.svg', fill = $green-2F);
          background-repeat: no-repeat;
        }
      }
      & input {
        display: none;
        &:checked ~ i {
          &:before {display: none;}
          &:after {display: block;}
        }
        &:checked ~ .bg {
          border: transparent;
          background-color: $blue-EA;
        }
        &:checked ~ .input-text {
          color: $black;
        }
      }
    }
    &__footer {
      position: absolute;
      min-height: 56px;
      bottom: 65px;
      left: 69px;
      right: 69px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 48px;
      @media #{$M_XS} {
        flex-flow: column-reverse wrap;
        bottom: 35px;
        left: 15px;
        right: 15px;
      }
    }
    &__btn {
      height: 56px;
      line-height: 58px;
      padding: 0 51px;
      @media #{$M_XS} {
        margin-bottom: 15px;
      }
      &.icon {
        padding: 0 63px 0 36px;
        &:after {
          content:'';
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 29px;
          height: 15px;
          width: 14px;
          margin: auto;
          background-position: 0 0;
          background-repeat: no-repeat;
          background-image: svg-load('../images/icon__arrow.svg', fill = $white);
          @include transform-rotate(180deg);
        }
      }
      &.R-align {
        margin-left: auto;
      }
    }
    & .prev-btn {
      position: absolute;
      display: inline-block;
      left: 0;
      padding-left: 16px;
      font-size: 18px;
      font-family: $font-futuraround;
      color: $black;
      @media #{$M_XS} {
        position: relative;
      }
      &:before {
        content:'';
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: 13px;
        width: 6px;
        margin: auto 0;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: svg-load('../images/icon__arrow.svg', fill = $black);
      }
    }
    & .share-link {
      display: flex;
      align-items: center;
      position: relative;
      height: 52px;
      width: 100%;
      margin-top: 33px;
      margin-bottom: 68px;
      padding: 0 195px 0 45px;
      font-size: 16px;
      background-color: $gray-F7;
      color: $black;
      border: 1px solid $gray-CC;
      @include border-radius(50px);
      cursor: text;
      @media #{$M_X2S} {
        width: 100%;
        margin-bottom: 90px;
        padding: 0 20px;
        text-align: center;
      }
      @media #{$M_X3S} {
        font-size: 13px;
      }
      &__btn {
        display: block;
        position: absolute;
        right: -1px;
        top: -1px;
        bottom: -1px;
        width: 185px;
        text-transform: uppercase;
        font-size: 18px;
        text-align: center;
        font-family: $font-futuraround;
        background-color: $green-23;
        color: $white;
        border: none;
        outline: none;
        @include border-radius(0 50px 50px 0);
        z-index: 2;
        &:hover {
          opacity: 0.9;
        }
        &:active {
          border: 1px solid $white;
        }
        @media #{$M_X2S} {
          border-radius: 50px;
          bottom: -60px;
          top: auto;
          left: 0;
          right: 0;
          margin: 0 auto;
          height: 52px;
        }
      }
    }
    & .plain-text {
      color: $gray-80;
      & a {
        text-decoration: underline;
        font-size: inherit;
        color: $green-25;
        &:hover {
          text-decoration: none;
        }
        &:active {
          opacity: 0.85;
        }
      }
    }
  }
}
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  @media #{$M_XS} {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  &:first-of-type {
    margin-top: 18px;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  & .input-label {
    font-size: 14px;
    color: $gray-80;
    @media #{$M_XS} {
      width: 100%;
      margin-bottom: 25px;
    }
    &.col1 {
      width: 14.012%;
      @media #{$M_XS} {
        width: 100%;
      }
    }
    &.col4 {
      width: 35.4%;
      @media #{$M_XS} {
        width: 100%;
      }
    }
    &.col5 {
      width: 47.936%;
      @media #{$M_XS} {
        width: 100%;
      }
    }
    &.col6 {
      width: 60.472%;
      @media #{$M_XS} {
        width: 100%;
      }
    }
    & input,
      select {
      display: inline-block;
      height: 50px;
      width: 100%;
      margin-top: 12px;
      padding: 0 20px;
      line-height: 50px;
      vertical-align: middle;
      font-size: 16px;
      background-color: $gray-F7;
      @include border-radius(50px);
      border: 1px solid $gray-CC;
      color: $black;
      @include placeholder {
        font-size: 16px;
        font-family: $font-roboto-light;
        color: $gray-CC;
      }
    }
    & select {
      font-size: 16px;
      font-family: $font-roboto-light;
      color: $gray-CC;
      cursor: pointer;
      &:focus {
        color: $black;
      }
    }
  }
}
.quiz-end {
  width: 100%;
  margin-top: 16px;
  &__title {
    width: 100%;
    font-family: $font-futuraround;
    font-size: 26px;
    text-align: left;
    color: $black;
  }
  &__text {
    width: 100%;
    margin-top: 10px;
    line-height: 26px;
    font-family: $font-roboto-light;
    font-size: 18px;
  }
  &__btn {
    padding: 0 55px;
  }
  & .quiz-result__share {
    margin-top: 50px;
    text-align: left;
    color: $gray-80;
  }
}
.quiz-result {
  margin-top: 17px;
  font-family: $font-roboto-light;
  font-size: 18px;
  color: $gray-80;
  &__top {
    padding-bottom: 26px;
    border-bottom: 1px solid $gray-EC;
  }
  & p {
    margin-top: 10px;
    line-height: 25px;
  }
  & a {
    font-family: $font-roboto-regular;
    text-decoration: underline;
    font-size: inherit;
    color: $green-25;
    &:hover {
      text-decoration: none;
    }
    &:active {
      opacity: 0.85;
    }
  }
  &__pic {
    position: relative;
    height: auto;
    width: 100%;
    max-width: 408px;
    margin: 48px auto 0;
    padding-bottom: 40.5%;
    &.card-1 {
      &:after {
        background-image: url(../images/cards/card-1.png);
      }
    }
    &.card-2 {
      &:after {
        background-image: url(../images/cards/card-2.png);
      }
    }
    &.card-3 {
      &:after {
        background-image: url(../images/cards/card-3.png);
      }
    }
    &:before {
      position: absolute;
      content:'';
      top: 0;
      bottom: 0;
      left: 30px;
      right: 30px;
      z-index: 1;
      box-shadow:         0px 10px 20px 0px rgba(0, 0, 0, 0.2);
    }
    &:after {
      content:'';
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      background-position: 0 0;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      overflow: hidden;
      @include border-radius(5px);
      z-index: 2;
    }
    & .pic__text {
      position: absolute;
      max-width: 170px;
      top: 29px;
      bottom: 29px;
      left: 29px;
      font-family: $font-besom;
      font-size: 24px;
      color: $black-20;
      & p {
        margin-bottom: 17px;
        &:first-of-type {
          margin-bottom: 0;
        }
      }
    }
    @media #{$M_XS} {
      padding-bottom: 50%;
    }
    @media #{$M_X3S} {
      padding-bottom: 62%;
    }
  }
  &__preview {
    margin-top: 42px;
  }
  &__preview-item {
    margin-bottom: 30px;
    &:last-of-type {
      margin-bottom: 0;
    }
    & .title {
      position: relative;
      margin-bottom: 9px;
      padding-left: 17px;
      font-family: $font-futuraround;
      font-size: 22px;
      color: $black;
      &:before {
        content:"-";
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
      }
    }
    & .text {
      position: relative;
      font-size: 16px;
      margin-top: 9px;
      line-height: 25px;
      color: $gray-80;
      &:before {
        content:"-";
        position: relative;
        display: inline-block;
        top: 0;
        left: 0;
        margin-right: 5px;
        line-height: 24px;
      }
    }
  }
  &__share {
    margin-top: 50px;
    font-family: $font-roboto-light;
    font-size: 18px;
    text-align: center;
    color: $black;
    & .btn-row {
      display: flex;
      justify-content: center;
      margin-top: 35px;
      @media #{$M_XS} {
        flex-wrap: wrap;
      }
      &__item {
        position: relative;
        width: 210px;
        margin-right: 20px;
        padding: 0 40px 0 63px;
        font-size: 16px;
        background-repeat: no-repeat;
        @media #{$M_XS} {
          flex-wrap: wrap;
          margin: 0 auto 10px
        }
        &:last-of-type {
          margin-right: 0;
          @media #{$M_XS} {
            margin-right: auto;
          }
        }
        &.fb {
          background-image: svg-load('../images/social/social-fb-icon.svg', fill = $white);
          background-position: 30px 50%;
        }
        &.vk {
          background-image: svg-load('../images/social/social-vk-icon.svg', fill = $white);
          background-position: 23px 50%;
        }
        &.ok {
          background-image: svg-load('../images/social/social-ok-icon.svg', fill = $white);
          background-position: 33px 50%;
        }
      }
    }
  }
}
.social-share {
  
}