+b.quiz-section
  +e.title Ваш почтовый адрес
  +e.body
    +b('form').question-wr.form
      +b.question-bl
        +e.body
          +b.quiz-end
            +e.title Спасибо!
            +e.text Скоро мы пришлем на ваш почтовый адрес открытку.
          
            +b.quiz-result__share
              +b.title Поделитесь своими результатами
              +b.btn-row
                +e.item.btn-content.fb Поделиться
                +e.item.btn-content.vk Поделиться
                +e.item.btn-content.ok Поделиться

        +e.footer
          +b('a')(href="./index.html").prev-btn На главную страницу
