.web-section {
  height: auto;
  width: 100%;
  &__inner {
    width: 100%;
    max-width: 945px;
    margin: 0 auto;
    padding: 82px 0;
    &-lrg {
      max-width: 1140px;
      padding: 50px 0 80px;
      margin: 0 auto;
      @media #{$M_MD} {
        padding: 50px 20px 80px;
      }
    }
  }
}
.telegram-section {
  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;
    border-bottom: 1px solid $gray-E2;
    @media #{$M_SMX} {
      flex-flow: row wrap;
    }
    & .text {
      max-width: 563px;
      margin-top: 10px;
      & .title {
        margin-bottom: 10px;
        font-family: $font-futuraround;
        font-size: 32px;
        color: $black;
      }
      & p {
        line-height: 24px;
        font-family: $font-roboto-light;
        font-size: 16px;
        color: $gray-2A;
      }
      @media #{$M_SMX} {
        margin-bottom: 20px;
      }
    }
    & .btn {
      display: inline-block;
      padding: 0 40px;
    }
  }
  &__content {
    margin-top: 35px;
    padding-bottom: 20px;
    & .sticker-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &__item {
        height: 300px;
        max-width: 292px;
        width: 100%;
        margin-right: 33px;
        margin-bottom: 5px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        &:nth-child(3n) {
          margin-right: 0;
        }
        &.sticker-1 {background-image: url(../images/stickers/sticker-1.png);}
        &.sticker-2 {background-image: url(../images/stickers/sticker-2.png);}
        &.sticker-3 {background-image: url(../images/stickers/sticker-3.png);}
        &.sticker-4 {background-image: url(../images/stickers/sticker-4.png);}
        &.sticker-5 {background-image: url(../images/stickers/sticker-5.png);}
        &.sticker-6 {background-image: url(../images/stickers/sticker-6.png);}
        &.sticker-7 {background-image: url(../images/stickers/sticker-7.png);}
        &.sticker-8 {background-image: url(../images/stickers/sticker-8.png);}
        &.sticker-9 {background-image: url(../images/stickers/sticker-9.png);}
        @media #{$M_SMX} {
          margin: 0 0 5px 0;
        }
      }
    }
  }
  &__bottom {
    border-top: 1px solid $gray-E2;
    padding-top: 25px;
    margin-top: 26px;
    font-size: 16px;
    word-wrap: break-word;
    color: $black-2A;
    & a {
      font-family: $font-roboto-light;
      color: $green-30;
    }
  }
}
.send-section {
  margin-top: 10px;
  &__top {
    width: 100%;
    & .title {
      margin-bottom: 10px;
      font-family: $font-futuraround;
      font-size: 32px;
      color: $black;
    }
    & .text {
      margin-top: 10px;
      line-height: 24px;
      font-family: $font-roboto-light;
      font-size: 16px;
      color: $black-2A;
    }
  }
  &__card-preview {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    @media #{$M_SMX} {
      padding: 0 20px;
    }
    @media #{$M_X2S} {
      flex-flow: column wrap;
    }
  }
  &__preview-item {
    position: relative;
    height: auto;
    width: 48.5%;
    padding-bottom: 32.276%;
    &:hover {
      box-shadow: 0px 13px 76px 0px rgba(68, 68, 68, 0.5);
    }
    @media #{$M_X2S} {
      width: 72%;
      padding-bottom: 48.276%;
      margin: 0 auto 20px;
    }
    @media #{$M_X3S} {
      width: 100%;
      padding-bottom: 67%;
    }
    & .inner {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-position: 0 0;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      transition: all 0.1s ease-in 0s;
      border-radius: 7px;
      overflow: hidden;
      &:hover,
      &.active {
        top: -10px;
        bottom: -10px;
        left: -15px;
        right: -15px; 
        cursor: pointer;
      }
    }
    &.male {
      & .inner {
        background-image: url(../images/card-pic-male.png);
      }
    }
    &.fem {
      & .inner {
        background-image: url(../images/card-pic-fem.png);
      }
    }
  }
  &__card-form {
    margin-top: 80px;
    width: 100%;
    padding: 52px 97px;
    background-color: $white;
    border-radius: 7px;
    box-shadow: 0px 13px 25px 0px rgba(68, 68, 68, 0.1);
    overflow: hidden;
    @media #{$M_SM} {
      padding: 35px 40px;
    }
    & .title {
      text-align: left;
      margin-bottom: 23px;
      font-family: $font-futuraround;
      font-size: 24px;
      color: $black;
    }
    & .card-min {
      height: 145px;
      width: 218px;
      margin-top: 20px;
      margin-bottom: 55px;
      border: 2px solid $green-3A;
      border-radius: 2px;
      overflow: hidden;
      background-position: 0 0;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }
    & .input-label {
      color: $gray-AF;
    }
    & .btn-row {
      margin-top: 67px;
      padding-top: 35px;
      border-top: 1px solid $gray-E5;
      & button {
        &[type="submit"] {
          padding: 0 49px;
        }
      }
    }
    & .input-row {
      margin-bottom: 28px;
      & .input-label {
        & input,
        & select {
          height: 42px;
          line-height: 40px;
        }
      }
    }
  }
}