extends _layouts/default.pug

block content
  +b.page__wr
    include _partials/header/header
    +b.page-body
      +b.popups__wr
        include _partials/popups/registration__popup
      include _partials/page-top/page-top
      include _partials/page-top/page-top-inner
      +b.home-wr
        +b.page-content.inner__wr
          include _partials/promo-steps/promo-steps
    include _partials/footer/footer