extends _layouts/default.pug

block content
  +b.page__wr
    include _partials/header/header
    +b.page-body.inner-pages
      +e.inner-bg
      +b.page-content
        include _partials/quiz-section/quiz-section__result
    include _partials/footer/footer