extends _layouts/default.pug

block content
  +b.page__wr
    include _partials/header/header--web-pages
    +b.page-body.web-page
      +b.page-content
        +b.web-section
          +e.inner
            include _partials/send-form/send-form-section
    include _partials/footer/footer