extends _layouts/default.pug

block content
  +b.page__wr
    include _partials/header/header--web-pages
    +b.page-body.web-page
      +b.page-content
        +b.web-section
          include _partials/video-section/video-section
          +e.inner-lrg
            include _partials/sections-preview/sections-preview
    include _partials/footer/footer